<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Bacon Labs. A creative squad on Ethereum.</title>
<meta name="description" content="Bacon Labs is a creative squad, busy designing and building beautiful products, and experiences on Ethereum.">

<!-- Libs CSS -->
<!-- build:css @@webRoot/assets/fonts/feather/feather.min.css -->
<link rel="stylesheet" href="@@webRoot/assets/fonts/feather/feather.css">
<!-- endbuild -->

<link rel="icon" type="image/png" href="assets/img/icon-default.png">

<!-- Theme CSS -->
<!-- build:css @@webRoot/assets/css/theme.min.css -->
<link rel="stylesheet" href="@@webRoot/assets/css/theme.css" id="stylesheetLight">
<!-- endbuild -->
